@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1662049961278') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daifukuan:before {
  content: "\f013c";
}

.icon-31daifahuo:before {
  content: "\f01c3";
}

.icon-xinxi:before {
  content: "\e763";
}

.icon-gerenzhongxinyewodeshoucang:before {
  content: "\e65a";
}

.icon-daishouhuo:before {
  content: "\e640";
}

.icon-hongbao:before {
  content: "\e69a";
}

.icon-shouhou:before {
  content: "\e623";
}

.icon-youhuiquan:before {
  content: "\e61f";
}

.icon-dizhi:before {
  content: "\100bd";
}

